body {
    font-family: $main-font;
}

img{
    @include borderRadius(0.125rem);
}

.container,
.container-fluid {
    overflow-x: hidden !important;
}

.scrollTop {
    float: right;
    padding: 1%;
    padding-top: 1%;
}

.fa {
    font-weight: 900;
    font-size: 30px;
    color: #2E2E2E;
    opacity: 0.3;
}

.btn {
    font-size: 12px;
}

.btn-primary {
    background-color: $button-color;
    color: #fff !important;
    margin-top: 0px !important;
}

.footer-bar {
    height: 50px;
    background-color: transparent;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}