#selectModal .modal-dialog, #selectModalTwo .modal-dialog{
    width:95%;
}

.modal-message{
    padding: 15px;
}

.modal-open {
    overflow: hidden !important;
}

.modal-title {
    font-size: 19px !important;
}

.multiple-item{
    float:left;
    padding: 1%;
    margin-bottom: 1%;
    list-style-type: none !important;
}

.multiple-item label{
    float:left;
    font-size: 10px;
}

.multiple-item > input{
    float:left;
}


input[type="checkbox"]{
    margin: 0px 4px 0 !important;
}