/*menu bar*/

#navigation-wrapper{
    height: 50px;
}

#navigation {
    margin-bottom: 5%;
}

#totalResultsInfo,
#pageNumber {
    text-align: center;
}

#nextButton {
    float: right;
}

#prevButton {
    float: left;
}

/*Loading bar*/

#loading {
    text-align: center;
}

#loading img {
    margin: 0;
}


/*Article Stuff*/

#sourceList {
    margin: 2%;
}

.publisher-name,
.published-time {
    float: left;
}

.published-time {
    margin-left: 5%;
}

.picture img {
    width: 100%;
    float: left;
}

.article-post {
    margin: 2%;
}

.article-title {
    font-size: 20px;
    padding-top: 1%;
    font-weight: bold;
    clear: both;
}

.article-description {
    margin-top:1%;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

.article-content{
    margin-top:1%;
}

.article-content a{
    color:blue;
    font-weight: bold;
}






